################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PizzaAPITest/bin/Debug/netcoreapp3.1
/PizzaAPITest/obj
/PizzaEntities/bin/Debug/netcoreapp3.1
/PizzaEntities/obj
